*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: Lato;
    color: #333;
    background-color: #fff;
}

header{
    min-height: 100vh;
   /* background: url(../foods/images/hero.jpg);*/
    background: linear-gradient(rgba(0,0,0,.6) , rgba(0,0,0,.6))  ,
     url(../foods/images/hero.jpg);
    background-position: center;
    background-size: cover;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 100px;
    margin-top: 20px;
}

.main-nav , .footer-nav , .social-nav{
    list-style: none;
    display: flex;
}
.main-nav li , .footer-nav li , .social-nav li{
    margin-right: 30px;
}
.main-nav li a:link , .footer-nav li a:link , .social-nav li a:link ,
.main-nav li a:visited , .footer-nav li a:visited , .social-nav li a:visited
{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.main-nav li a:hover , .footer-nav li a:hover , .social-nav li a:hover ,
.main-nav li a:active , .footer-nav li a:active , .social-nav li a:active 
{
    color: orange;
    text-decoration: underline;
}

.hero-box{
    position: absolute;
    top: 40%;
}

h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    word-spacing: 3px;
    margin-bottom: 20px;
}

.btn{
    border: solid 1px orange;
    margin-right: 15px;
    padding: 7px 15px;
    color: orange;
    text-decoration: none;
    border-radius: 10px;
}
.btn:hover{
    background-color: orange;
    color: white;
    
}

section , footer{
    padding: 40px 0px;
}
h2{
    
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
}
hr{
    width: 100px;
    border: solid 3px orange;
    margin: 20px auto;
}
.feat-desc{
    width: 60%;
    text-align: center;
    margin: 20px auto;
    line-height: 1.5;
}
.box i{
    font-size: 24px;
    color: orange;
    margin-bottom: 20px;
    display: block;
    text-align: center;    
}

.box h3{
    text-align: center;
    margin-bottom: 20px;
}

.box p{
    line-height: 1.5;
}

.meal{
    padding: 0;
    margin-bottom: -5px;
    background-color: black;
}

.meal img{
    width: 100%;
    opacity: .6;
    transition: 1s;
}
.meal img:hover{
   opacity: 1;
}

.city img{
    width: 100%;
}
.city h3{
    width: 100%;
    margin-bottom: 7px;
    text-transform: uppercase;
    font-weight: 500;
}
.city div{
    margin-bottom: 7px;
}
.city i{
    margin-right: 10px;
    color: orange;
}
.city a{
    color: orange;
}


.testimonials{
    background: linear-gradient(rgba(0,0,0,.6) , rgba(0,0,0,.6))  ,
     url(../foods/images/back-customers.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
.testimonials i{
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 30px;
}
.testimonials p{
    margin-bottom: 15px;
    line-height: 1.5;
}
.testimonials img{
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
    vertical-align: middle;
}
form{
    margin-top: 50px;
}
label , input[type=checkbox]{
    margin-bottom: 10px;
    width: unset;
}
input , select , textarea{
    margin-bottom: 10px;
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


 input[type=checkbox]{

    width: unset;
}
button{
    border: solid 1px orange;
    padding: 10px 20px;
    color: orange;
    text-decoration: none;
    border-radius: 10px;
}
button:hover{
    background-color: orange;
    color: white;
    
}

footer{
    background-color: #333;
}

footer p{
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.price{
    color: orange;
    font-size: 35px;
}

.offer i{
    color: orange;
}

.btn1{
    border: solid 1px orange;
    margin-right: 15px;
    padding: 5px 10px;
    color: orange;
    text-decoration: none;
    border-radius: 10px;
}
.btn1:hover{
    background-color: orange;
    color: white;
    
}

